/* .highlight  { background: #ffffff; } Dean commented out */
/* .highlight pre { background-color: #fff; font-size: 16px } */
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
.highlight .lineno {color:rgba(0,0,0,0.3);padding: 0 10px;-webkit-user-select: none;-moz-user-select: none; -o-user-select: none;}
.lineno::-moz-selection {background-color: transparent;} /* Mozilla specific */
.lineno::selection {background-color: transparent;} /* Other major browsers */

/* --- Dark Mode Syntax Highlighting --- */
@media (prefers-color-scheme: dark) {
  .highlight .c { color: #8b949e; font-style: italic } /* Comment */
  .highlight .err { color: #f85149; background-color: transparent } /* Error */
  .highlight .k { color: #ff7b72; font-weight: bold } /* Keyword */
  .highlight .o { color: #ff7b72; font-weight: bold } /* Operator */
  .highlight .cm { color: #8b949e; font-style: italic } /* Comment.Multiline */
  .highlight .cp { color: #8b949e; font-weight: bold } /* Comment.Preproc */
  .highlight .c1 { color: #8b949e; font-style: italic } /* Comment.Single */
  .highlight .cs { color: #8b949e; font-weight: bold; font-style: italic } /* Comment.Special */
  .highlight .gd { color: #ffa198; background-color: #490202 } /* Generic.Deleted */
  .highlight .gd .x { color: #ffa198; background-color: #67060c } /* Generic.Deleted.Specific */
  .highlight .ge { font-style: italic } /* Generic.Emph */
  .highlight .gr { color: #f85149 } /* Generic.Error */
  .highlight .gh { color: #8b949e } /* Generic.Heading */
  .highlight .gi { color: #56d364; background-color: #0f5323 } /* Generic.Inserted */
  .highlight .gi .x { color: #56d364; background-color: #1a7f37 } /* Generic.Inserted.Specific */
  .highlight .go { color: #8b949e } /* Generic.Output */
  .highlight .gp { color: #7d8590 } /* Generic.Prompt */
  .highlight .gs { font-weight: bold } /* Generic.Strong */
  .highlight .gu { color: #6f7682 } /* Generic.Subheading */
  .highlight .gt { color: #f85149 } /* Generic.Traceback */
  .highlight .kc { color: #ff7b72; font-weight: bold } /* Keyword.Constant */
  .highlight .kd { color: #ff7b72; font-weight: bold } /* Keyword.Declaration */
  .highlight .kp { color: #ff7b72; font-weight: bold } /* Keyword.Pseudo */
  .highlight .kr { color: #ff7b72; font-weight: bold } /* Keyword.Reserved */
  .highlight .kt { color: #ffa657; font-weight: bold } /* Keyword.Type */
  .highlight .m { color: #79c0ff } /* Literal.Number */
  .highlight .s { color: #a5d6ff } /* Literal.String */
  .highlight .na { color: #79c0ff } /* Name.Attribute */
  .highlight .nb { color: #d2a8ff } /* Name.Builtin */
  .highlight .nc { color: #ffa657; font-weight: bold } /* Name.Class */
  .highlight .no { color: #79c0ff } /* Name.Constant */
  .highlight .ni { color: #ffa657 } /* Name.Entity */
  .highlight .ne { color: #f85149; font-weight: bold } /* Name.Exception */
  .highlight .nf { color: #d2a8ff; font-weight: bold } /* Name.Function */
  .highlight .nn { color: #7d8590 } /* Name.Namespace */
  .highlight .nt { color: #7ee787 } /* Name.Tag */
  .highlight .nv { color: #79c0ff } /* Name.Variable */
  .highlight .ow { color: #ff7b72; font-weight: bold } /* Operator.Word */
  .highlight .w { color: #6e7681 } /* Text.Whitespace */
  .highlight .mf { color: #79c0ff } /* Literal.Number.Float */
  .highlight .mh { color: #79c0ff } /* Literal.Number.Hex */
  .highlight .mi { color: #79c0ff } /* Literal.Number.Integer */
  .highlight .mo { color: #79c0ff } /* Literal.Number.Oct */
  .highlight .sb { color: #a5d6ff } /* Literal.String.Backtick */
  .highlight .sc { color: #a5d6ff } /* Literal.String.Char */
  .highlight .sd { color: #a5d6ff } /* Literal.String.Doc */
  .highlight .s2 { color: #a5d6ff } /* Literal.String.Double */
  .highlight .se { color: #a5d6ff } /* Literal.String.Escape */
  .highlight .sh { color: #a5d6ff } /* Literal.String.Heredoc */
  .highlight .si { color: #a5d6ff } /* Literal.String.Interpol */
  .highlight .sx { color: #a5d6ff } /* Literal.String.Other */
  .highlight .sr { color: #7ee787 } /* Literal.String.Regex */
  .highlight .s1 { color: #a5d6ff } /* Literal.String.Single */
  .highlight .ss { color: #a5d6ff } /* Literal.String.Symbol */
  .highlight .bp { color: #e6edf3 } /* Name.Builtin.Pseudo */
  .highlight .vc { color: #79c0ff } /* Name.Variable.Class */
  .highlight .vg { color: #79c0ff } /* Name.Variable.Global */
  .highlight .vi { color: #79c0ff } /* Name.Variable.Instance */
  .highlight .il { color: #79c0ff } /* Literal.Number.Integer.Long */
  
  /* Dark mode line numbers */
  .highlight .lineno { color: rgba(125, 133, 144, 0.7); }
}

/* Dark mode syntax highlighting for manual toggle */
html.dark-mode .highlight .c { color: #8b949e; font-style: italic } /* Comment */
html.dark-mode .highlight .err { color: #f85149; background-color: transparent } /* Error */
html.dark-mode .highlight .k { color: #ff7b72; font-weight: bold } /* Keyword */
html.dark-mode .highlight .o { color: #ff7b72; font-weight: bold } /* Operator */
html.dark-mode .highlight .cm { color: #8b949e; font-style: italic } /* Comment.Multiline */
html.dark-mode .highlight .cp { color: #8b949e; font-weight: bold } /* Comment.Preproc */
html.dark-mode .highlight .c1 { color: #8b949e; font-style: italic } /* Comment.Single */
html.dark-mode .highlight .cs { color: #8b949e; font-weight: bold; font-style: italic } /* Comment.Special */
html.dark-mode .highlight .gd { color: #ffa198; background-color: #490202 } /* Generic.Deleted */
html.dark-mode .highlight .gd .x { color: #ffa198; background-color: #67060c } /* Generic.Deleted.Specific */
html.dark-mode .highlight .ge { font-style: italic } /* Generic.Emph */
html.dark-mode .highlight .gr { color: #f85149 } /* Generic.Error */
html.dark-mode .highlight .gh { color: #8b949e } /* Generic.Heading */
html.dark-mode .highlight .gi { color: #56d364; background-color: #0f5323 } /* Generic.Inserted */
html.dark-mode .highlight .gi .x { color: #56d364; background-color: #1a7f37 } /* Generic.Inserted.Specific */
html.dark-mode .highlight .go { color: #8b949e } /* Generic.Output */
html.dark-mode .highlight .gp { color: #7d8590 } /* Generic.Prompt */
html.dark-mode .highlight .gs { font-weight: bold } /* Generic.Strong */
html.dark-mode .highlight .gu { color: #6f7682 } /* Generic.Subheading */
html.dark-mode .highlight .gt { color: #f85149 } /* Generic.Traceback */
html.dark-mode .highlight .kc { color: #ff7b72; font-weight: bold } /* Keyword.Constant */
html.dark-mode .highlight .kd { color: #ff7b72; font-weight: bold } /* Keyword.Declaration */
html.dark-mode .highlight .kp { color: #ff7b72; font-weight: bold } /* Keyword.Pseudo */
html.dark-mode .highlight .kr { color: #ff7b72; font-weight: bold } /* Keyword.Reserved */
html.dark-mode .highlight .kt { color: #ffa657; font-weight: bold } /* Keyword.Type */
html.dark-mode .highlight .m { color: #79c0ff } /* Literal.Number */
html.dark-mode .highlight .s { color: #a5d6ff } /* Literal.String */
html.dark-mode .highlight .na { color: #79c0ff } /* Name.Attribute */
html.dark-mode .highlight .nb { color: #d2a8ff } /* Name.Builtin */
html.dark-mode .highlight .nc { color: #ffa657; font-weight: bold } /* Name.Class */
html.dark-mode .highlight .no { color: #79c0ff } /* Name.Constant */
html.dark-mode .highlight .ni { color: #ffa657 } /* Name.Entity */
html.dark-mode .highlight .ne { color: #f85149; font-weight: bold } /* Name.Exception */
html.dark-mode .highlight .nf { color: #d2a8ff; font-weight: bold } /* Name.Function */
html.dark-mode .highlight .nn { color: #7d8590 } /* Name.Namespace */
html.dark-mode .highlight .nt { color: #7ee787 } /* Name.Tag */
html.dark-mode .highlight .nv { color: #79c0ff } /* Name.Variable */
html.dark-mode .highlight .ow { color: #ff7b72; font-weight: bold } /* Operator.Word */
html.dark-mode .highlight .w { color: #6e7681 } /* Text.Whitespace */
html.dark-mode .highlight .mf { color: #79c0ff } /* Literal.Number.Float */
html.dark-mode .highlight .mh { color: #79c0ff } /* Literal.Number.Hex */
html.dark-mode .highlight .mi { color: #79c0ff } /* Literal.Number.Integer */
html.dark-mode .highlight .mo { color: #79c0ff } /* Literal.Number.Oct */
html.dark-mode .highlight .sb { color: #a5d6ff } /* Literal.String.Backtick */
html.dark-mode .highlight .sc { color: #a5d6ff } /* Literal.String.Char */
html.dark-mode .highlight .sd { color: #a5d6ff } /* Literal.String.Doc */
html.dark-mode .highlight .s2 { color: #a5d6ff } /* Literal.String.Double */
html.dark-mode .highlight .se { color: #a5d6ff } /* Literal.String.Escape */
html.dark-mode .highlight .sh { color: #a5d6ff } /* Literal.String.Heredoc */
html.dark-mode .highlight .si { color: #a5d6ff } /* Literal.String.Interpol */
html.dark-mode .highlight .sx { color: #a5d6ff } /* Literal.String.Other */
html.dark-mode .highlight .sr { color: #7ee787 } /* Literal.String.Regex */
html.dark-mode .highlight .s1 { color: #a5d6ff } /* Literal.String.Single */
html.dark-mode .highlight .ss { color: #a5d6ff } /* Literal.String.Symbol */
html.dark-mode .highlight .bp { color: #e6edf3 } /* Name.Builtin.Pseudo */
html.dark-mode .highlight .vc { color: #79c0ff } /* Name.Variable.Class */
html.dark-mode .highlight .vg { color: #79c0ff } /* Name.Variable.Global */
html.dark-mode .highlight .vi { color: #79c0ff } /* Name.Variable.Instance */
html.dark-mode .highlight .il { color: #79c0ff } /* Literal.Number.Integer.Long */

/* Dark mode line numbers for manual toggle */
html.dark-mode .highlight .lineno { color: rgba(125, 133, 144, 0.7); }
